doctype html
html(ng-app="upApp" ng-controller="MainCtrl")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/bower/angularjs/angular.js")
    script(src="/app/up-app.js")
    link(rel="shortcut icon" type="image/x-icon" href="{{faviconUrl}}")
  body
    p Internet is up? {{isUp}}
    img(src="/images/up-favicon.ico" style="display: none")
    img(src="/images/down-favicon.ico" style="display: none")
